Прочесть с помощью pandas файл california_housing_test.csv

In [36]:
import pandas as pd

data = pd.read_csv('../Seminar11/california_housing_train.csv') # дабы не засорять GitHub (директории Seminar в гитигноре)

Посмотреть сколько в нем строк и столбцов

In [37]:
shape = data.shape

print(f'В данной таблице {shape[1]} столбцов и {shape[0]} строк.')

В данной таблице 9 столбцов и 17000 строк.

Определить какой тип данных имеют столбцы

In [4]:
print(f'Столбцы содержат следующие типы данных:')

data.dtypes

Столбцы содержат следующие типы данных:

longitude           float64
latitude            float64
housingMedianAge      int64
totalRooms            int64
totalBedrooms         int64
population            int64
households            int64
medianIncome        float64
medianHouseValue      int64
dtype: object

Показать longitude где housing_median_age < 35

In [5]:
print(f'Здания, возраст которых меньше, чем 35 лет, располагаются на следующих долготах:')

data.loc[data['housingMedianAge'] < 35, ['longitude']]

Здания, возраст которых меньше, чем 35 лет, располагаются на следующих долготах:

       longitude
0        -114.31
1        -114.47
2        -114.56
3        -114.57
4        -114.57
...          ...
16990    -124.22
16991    -124.23
16994    -124.25
16997    -124.30
16998    -124.30

[11117 rows x 1 columns]

Показать столбцы longitude и latitude

In [6]:
data[['longitude','latitude']]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

Выбрать данные где total_rooms < 2000 и population > 1500

In [7]:
data[(data['totalRooms'] < 2000) & (data['population'] > 1500)]

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
24,-115.22,33.54,18,1706,397,3424,283,1.6250,53500
40,-115.49,32.69,17,1960,389,1691,356,1.8990,64000
136,-116.11,33.64,20,1273,354,1548,355,2.0871,84700
141,-116.15,33.64,10,1711,499,1896,443,1.6557,65400
145,-116.17,33.53,13,1713,512,1978,442,2.1287,58600
...,...,...,...,...,...,...,...,...,...
15865,-122.42,37.76,37,1291,588,1846,557,1.3365,225000
15871,-122.42,37.75,52,1855,611,1715,614,2.1289,250000
15886,-122.42,37.73,46,1819,411,1534,406,4.0132,229400
16073,-122.45,37.75,35,1363,302,1786,301,3.0804,313400
16140,-122.46,37.69,35,1983,385,1577,414,4.0833,266700

Определить какое максимальное и минимальное значение **population**

In [8]:
a = data['population'].max()
b = data['population'].min()

print(f'Максимальное население - {a}, минимальное - {b}.')

Максимальное население - 35682, минимальное - 3.

(Доп) Показать максимальное **longitude**, где **median_income** > 3

In [25]:
# data.columns
print(f"{abs(data.loc[(data['medianIncome'] > 3),'longitude']).max()} западной долготы") # к западу от нулевого меридиана долготы имеют отрицательные значения

124.35 запданой долготы

(Доп) Узнать какая максимальная **total_bedrooms** при минимальном значении **households**

In [35]:
min_households = data['households'].min()
# data.columns
desired = data.loc[(data['households'] == min_households), 'totalBedrooms'].max()
print(desired)

1